<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form novalidate [formGroup]="passwordForm" (ngSubmit)="changePassword()">
    <ion-item>
      <ion-label position="floating" color="tertiary">Old Password</ion-label>
      <ion-input type="password" formControlName="OldPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="tertiary">New Password</ion-label>
      <ion-input type="password" formControlName="NewPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="tertiary">New Password</ion-label>
      <ion-input type="password" formControlName="NewPasswordConfirm" required></ion-input>
    </ion-item>
    <ion-button [disabled]="passwordForm.controls.OldPassword.value == null || passwordForm.controls.OldPassword.value.length == 0 
      || passwordForm.controls.NewPassword.value == null || passwordForm.controls.NewPassword.value.length == 0 
      || passwordForm.controls.NewPassword.value != passwordForm.controls.NewPasswordConfirm.value"
      type="submit" float-start margin-top fill="clear" color="tertiary">
      Change
    </ion-button>
  </form>
  <ion-button class="buttonBottom" *ngIf="successMessage" expand="block" fill="solid" color="success">
    {{successMessage}}
  </ion-button>
  <ion-button class="buttonBottom" *ngIf="errorMessage" expand="block" fill="solid" color="danger">
    {{errorMessage}}
  </ion-button>
</ion-content>
